<h1 class="title"> {{title}}</h1>
<h3 *ngIf=!displayEdit> {{displayTitle}}</h3>
<h3 *ngIf=displayEdit> {{editTitle}}</h3>



<form (ngSubmit)="toggleEdit()">
  <div *ngIf="!displayEdit">
    <table>
      <tr>
        <td><label for="nameInput"> Name: </label></td>
        <td><label >{{newUser.name}}</label></td>
      </tr>
      <tr>
        <td><label for="ageInput"> Age: </label></td>
        <td><label >{{newUser.age}}</label></td>
      </tr>
      <tr>
        <td><label for="colorInput"> Favorite Color: </label></td>
        <td><label >{{newUser.favoriteColor}}</label></td>
      </tr>
      <tr>
        <td><label for="memberInput"> Already Member: </label></td>
        <td> <input id="memberInput" name="memberInput" type="checkbox" [checked]="newUser.alreadyMember">    </td>
      </tr>
      <tr>
        <td><label for="drink"> Fav Drink: </label></td>
        
        <td> <label>{{newUser.favDrink}}</label>    </td>
      
      </tr>
      <tr>
        <td><label for="drink"> Gender: </label></td>
        
        <td> <label>{{newUser.gender}}</label>    </td>
      
      </tr>
    </table>
  </div>
  <div *ngIf="displayEdit">
  <table>
    <tr>
      <td><label for="nameInput"> Name: </label></td>
      <td><input type="text" name="name" id="nameInput" [(ngModel)]="newUser.name"/></td>
    </tr>
    <tr>
      <td><label for="ageInput"> Age: </label></td>
      <td><input type="number" name="age" id="ageInput" [(ngModel)]="newUser.age"/></td>
    </tr>
    <tr>
      <td><label for="colorInput"> Favorite Color: </label></td>
      <td><input name="color" type="text" id="colorInput" [(ngModel)]="newUser.favoriteColor"/></td>
    </tr>
    <tr>
      <td><label for="memberInput"> Already Member: </label></td>
      <td> <input id="memberInput" name="memberInput" type="checkbox" [(ngModel)]="newUser.alreadyMember" [checked]="newUser.alreadyMember"/>    </td>
    </tr>
    <tr>
      <td><label for="drink"> Fav Drink: </label></td>
      
      <td>
        <select name="drink" [(ngModel)]="newUser.favDrink">
          <option>Mocha</option> 
          <option>Coffee</option>
          <option>Juice</option>
          <option>Coke</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="drink"> Gender: </label></td>
      
      <td>
        Male:<input
        type="radio"
        name="gender"
        [(ngModel)]="newUser.gender"
        value="Male"
      />
      Female:<input
        type="radio"
        name="gender"
        [(ngModel)]="newUser.gender"
        value="Female"
      />
      Other:<input
        type="radio"
        name="gender"
        [(ngModel)]="newUser.gender"
        value="Other"
      />
      </td>
    </tr>
  </table>
  </div>
  <table><tr><td>
    <button type="submit">Toggle Edit</button></td></tr>
  </table>
</form>
